@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.header {
  background-color: $cor1;
  height: auto;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.555);
  max-width: 100%;

  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {

      img {
        width: 250px;
        margin-left: 100px;
        margin-top: -20px;
      }
    }
  
    .navbar {
      
      margin-right: 80px;

      ul {
        list-style: none;
        display: flex;
        margin: 15px;

        li {

          a {
            margin: 0 20px;
            text-decoration: none;
            color: white;
            transition: all 500ms ease;
            font-size: 20px;

            &:hover {
              color: $cor5;
            }
          }
        }
      }
    }
  }
}

.main {

  max-width: 90%;
  margin: 0 auto;

  .box1 {
    max-width: 90%;
    padding: 60px 0;
    text-align: center;
    margin: 120px auto;
    border: 1px solid black;
    border-radius: 10px;

    .minha-foto {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }

  .box2 {

    margin: 150px auto;

    h2 {
      text-align: center;
      font-size: 50px;
      margin: 0 auto 30px;
    }

    .box-projects {

      margin: 80px auto;
      display: flex;
      justify-content: space-around;

      div {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 30px 0;
        border-radius: 15px;
        max-width: 30%;

        a {
          text-decoration: none;
        }

        span {
          font-size: 20px;
          background-color: $cor5;
          padding: 10px 20px;
          color: white;
          border-radius: 10px;
        }

        img {
          width: 400px;
        }


        .link-projects {
          margin-top: 110px;
        }
      }

      .card {
        max-width: 33%;
        height: auto;

        img {
          height: 300px;
        }
      }
    }
  }
}


  


