@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #F2F2F2;
}

.header {
  height: 120px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.192);
  margin: 0 auto;
  background-color: #0D0D0D;
}
.header img {
  width: 250px;
  margin-left: 50px;
}
.header h1 {
  margin-left: 50px;
  color: #F2F2F2;
}
.header .navbar ul {
  display: flex;
  list-style: none;
  margin-right: 80px;
}
.header .navbar ul li a {
  margin: 0 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #F2F2F2;
  padding-bottom: 2px;
  transition: 200ms ease-in-out;
}
.header .navbar ul li a:hover {
  color: #2be29f;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.main img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 1px double white;
  padding: 3px;
}
.main h2 {
  margin-top: 20px;
  font-size: 35px;
  margin-bottom: 20px;
  color: #0D0D0D;
}
.main .about-me {
  margin-top: -80px;
}
.main .about-me .title-aboute-me {
  margin-top: 70px;
  text-transform: uppercase;
  text-align: center;
}
.main .about-me .text-about-me {
  font-weight: 300;
  line-height: 25px;
  margin: 40px auto;
  text-align: center;
  width: 700px;
}
.main span {
  background-color: #2be29f;
  padding: 10px;
  border-radius: 5px;
}
.main span b {
  color: white;
}
.main .text-presentation {
  width: 600px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 21px;
}
.main .certifications, .main .training {
  display: flex;
  flex-direction: column;
}
.main .certifications h3, .main .training h3 {
  text-align: center;
  margin: 30px auto 20px;
  font-size: 20px;
  background-color: #0D0D0D;
  color: #F2F2F2;
  font-weight: 300;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 20px;
  border-radius: 7px;
}
.main .certifications span, .main .training span {
  margin: 5px auto;
  width: 400px;
  font-weight: 600;
  text-align: center;
}
.main .certifications .training-text, .main .training .training-text {
  width: 600px;
  margin-bottom: 30px;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto 50px;
}
.footer .social-media a {
  margin: 0 15px;
  font-size: 22px;
}
.footer .social-media a i {
  color: #F26B1D;
  transition: 500ms all ease;
}
.footer .social-media a i:hover {
  color: #2be29f;
}
.footer p {
  text-align: center;
  background-color: #0D0D0D;
  padding: 15px 0;
  color: #F2F2F2;
  margin-top: 80px;
}

@media (max-width: 1399px) {
  .main img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 1px double white;
    padding: 3px;
  }
  .main h2 {
    margin: 20px auto;
    font-size: 25px;
    color: #0D0D0D;
  }
  .main span {
    font-size: 14px;
    background-color: #2be29f;
    padding: 10px;
    border-radius: 5px;
  }
  .main p {
    font-size: 14px;
    width: 600px;
  }
}/*# sourceMappingURL=main.css.map */