@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171810;
}

.header {

  .header_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 300px;
    }

    .navbar {
      
      margin-top: -60px;

      ul {
        display: flex;
        
        li {

          &:hover {
            text-decoration: underline;
          }

          a {
            margin: 0 15px;
            text-decoration: none;
            color: white;
            font-family: 'Share Tech Mono', monospace;
            font-size: 1.1rem;

          }
        }

      }

    }
  }

}